{% liquid
  assign logo = section.settings.logo | append: '.svg' | file_url
  assign dark_logo = section.settings.dark_logo | append: '.svg' | file_url
  assign alt_logo = 'Logo ' | append: shop.name
  assign logo_center = false
  assign size_items = linklists[section.settings.menu].links.size | plus: 1
  assign modulo_size_linklist = size_items | modulo: 2

  unless modulo_size_linklist == 0
    assign logo_center = false
  endunless
%}

{% capture snippet_logo %}
  <div class="header__logo header__logo--center">
    <a href="{{ routes.root_url }}">
      {% if section.settings.dark_logo != blank %}

        {% assign header_bg_color = 'white-bg' %}

        <img
          class="logo--dark {{ header_bg_color }}"
          src="{{ dark_logo }}"
          alt="{{ alt_logo }}"
          width="140"
          height="22"
        />
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
  </div>
{% endcapture %}

{% capture snippet_user %}
  <div
    class="header__user{% if logo_center %} header__user--center{% endif %}"
  >
    {% render 'user-nav' %}
  </div>
{% endcapture %}

<div class="header__components">
  <div
    class="
      header grid
      {% if logo_center %} header--center{% endif %}
      {% if template != 'index' %} header--notindex{% endif %}
    "
  >
    {{ snippet_logo }}
  </div>
</div>

{% schema %}
{
  "name": "Header password",
  "tag": "section",
  "class": "header__container js-header",
  "settings": [
    {
      "type": "text",
      "id": "dark_logo",
      "label": "t:sections.header.settings.dark_logo.label",
      "default": "dark-logo"
    }
  ]
}
{% endschema %}
