{%- liquid
  assign showPagination = false
  if section.blocks.size > 1
    assign showPagination = true
  endif
-%}

{% capture snippet_content %}
  {% for block in section.blocks %}

    {% if block.settings.position_mobile != blank %}
      {% assign slide_class = block.settings.position_mobile %}
    {% endif %}

    {% if block.settings.position_desk_x != blank %}
      {% assign slide_class = slide_class
        | append : ' ' | append: block.settings.position_desk_x %}
    {% endif %}

    {% if block.settings.position_desk_y != blank %}
      {% assign slide_class = slide_class
        | append : ' ' | append: block.settings.position_desk_y %}
    {% endif %}

    {% if block.settings.content_bg == true %}
      {% assign slide_class = slide_class
        | append: ' ' | append: 'white_bg' %}
    {% endif %}

    {% if block.settings.mobile_content_bg == true %}
      {% assign slide_class = slide_class
        | append: ' ' | append: 'mobile_white_bg' %}
    {% endif %}

    <div
      class="swiper-slide hero-loop-{{ forloop.index }}"
      data-swiper-autoplay="{{ section.settings.slider_delay }}"
    >
      {% render 'hero-slide',
        css_class: slide_class,
        index: forloop.index,
        title: block.settings.heading,
        description: block.settings.description,
        ctatext: block.settings.cta_text,
        ctalink: block.settings.cta_link,
        imagedesktop: block.settings.image_desktop,
        imagemobile: block.settings.image_mobile,
        type_button: block.settings.type_btn,
        info_text: block.settings.info_text,
        sticker: block.settings.sticker,
        hidde_mobile_stamp: block.settings.hidde_mobile_stamp
      %}
    </div>

    <style>
      {% if block.settings.mobile_heading_color != blank %}
        .hero__description .text-buttons > span {
          color: {{ block.settings.mobile_heading_color }};
        }
      {% endif %}

      {% if block.settings.mobile_description_color != blank %}
        .hero__description .text-buttons > .text-buttons__p * {
          color: {{ block.settings.mobile_description_color }};
        }
      {% endif %}

      {% if block.settings.mobile_heading_color != blank %}
        .swiper-slide.hero-loop-{{ forloop.index }}  h1,
        .swiper-slide.hero-loop-{{ forloop.index }}  h2 {
          color: {{ block.settings.mobile_heading_color }};
        }
      {% endif %}

      {% if block.settings.mobile_description_color != blank %}
        .swiper-slide.hero-loop-{{ forloop.index }}  .text-buttons__p * {
          color: {{ block.settings.mobile_description_color }};
        }
      {% endif %}

      {% if block.settings.mobile_info_text_color != blank %}
        .swiper-slide.hero-loop-{{ forloop.index }} .hero__info-text {
          color: {{ block.settings.mobile_info_text_color }};
        }
      {% endif %}

      @media (min-width: 750px) {

        {% if block.settings.heading_color != blank %}
          .hero__description .text-buttons > span {
            color: {{ block.settings.heading_color }};
          }
        {% endif %}
  
        {% if block.settings.description_color != blank %}
          .hero__description .text-buttons > .text-buttons__p * {
            color: {{ block.settings.description_color }};
          }
        {% endif %}


        {% if block.settings.heading_color != blank %}
          .swiper-slide.hero-loop-{{ forloop.index }}  h1,
          .swiper-slide.hero-loop-{{ forloop.index }}  h2 {
            color: {{ block.settings.heading_color }};
          }
        {% endif %}

        {% if block.settings.description_color != blank %}
          .swiper-slide.hero-loop-{{ forloop.index }} .text-buttons__p * {
            color: {{ block.settings.description_color }};
          }
        {% endif %}

        {% if block.settings.info_text_color != blank %}
          .swiper-slide.hero-loop-{{ forloop.index }} .hero__info-text {
            color: {{ block.settings.info_text_color }};
          }
        {% endif %}
      }
    </style>

  {% endfor %}
{% endcapture %}

{% render 'slider'
  wrapper: 'hero--slider',
  content: snippet_content,
  pagination: showPagination,
  perpage: 1,
  custom_slider: 'hero_slider',
  autoplay: section.settings.slider_autoplay,
%}
<!-- eslint-disable max-len -->

{% schema %}
{
  "name": "Hero Slider",
  "tag": "section",
  "class": "hero section-space--hero",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "number",
      "id": "slider_delay",
      "label": "Slider delay",
      "default": 3000,
      "info": "Format to seconds: 1000 is a one second, 500 half second."
    },
    {
      "type": "checkbox",
      "id": "slider_autoplay",
      "label": "Slider autoplay",
      "default": false,
      "info": "This setting work for two slides or more slides"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Images settings"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Desktop Image",
          "info": "Ratio 16:9"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image",
          "info": "Ratio 9:16"
        },
        {
          "type": "text",
          "id": "sticker",
          "label": "Sticker",
          "default": "letter-stamp-vert|Icon",
          "info": "name-file|alt"
        },
        {
          "type": "checkbox",
          "id": "hidde_mobile_stamp",
          "label": "Hidden mobile sticker",
          "default": false
        },
        {
          "type": "header",
          "content": "Content position"
        },
        {
          "type": "paragraph",
          "content": "Mobile"
        },
        {
          "type": "select",
          "id": "position_mobile",
          "label": "Mobile positions",
          "options": [
            {
              "value": "middle_mobile",
              "label": "Middle"
            },
            {
              "value": "down_mobile",
              "label": "Down"
            }
          ],
          "default": "middle_mobile"
        },
        {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "select",
          "id": "position_desk_x",
          "label": "Desktop horizontal positions",
          "options": [
            {
              "value": "left_desk",
              "label": "Left"
            },
            {
              "value": "middle_desk_x",
              "label": "Middle"
            },
            {
              "value": "right_desk",
              "label": "Right"
            }
          ],
          "default": "middle_desk_x"
        },
        {
          "type": "select",
          "id": "position_desk_y",
          "label": "Desktop vetical positions",
          "options": [
            {
              "value": "up_desk",
              "label": "Up"
            },
            {
              "value": "middle_desk_y",
              "label": "Middle"
            },
            {
              "value": "down_desk",
              "label": "Down"
            }
          ],
          "default": "middle_desk_y"
        },
        {
          "type": "header",
          "content": "Content background settings"
        },
        {
          "type": "checkbox",
          "id": "content_bg",
          "label": "White background",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "mobile_content_bg",
          "label": "Mobile white background",
          "default": true
        },
        {
          "type": "header",
          "content": "Text settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading Title"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#FF6801"
        },
        {
          "type": "color",
          "id": "mobile_heading_color",
          "label": "Mobile heading color",
          "default": "#FF6801"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description color",
          "default": "#003BC3"
        },
        {
          "type": "color",
          "id": "mobile_description_color",
          "label": "Mobile description color",
          "default": "#003BC3"
        },
        {
          "type": "paragraph",
          "content": "Text above dots"
        },
        {
          "type": "text",
          "id": "info_text",
          "label": "Info text",
          "default": "Lorem ipsu"
        },
        {
          "type": "color",
          "id": "info_text_color",
          "label": "Info text color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "mobile_info_text_color",
          "label": "Mobiel info text color",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Button settings"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Button Text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Button Link",
          "default": "/"
        },
        {
          "type": "select",
          "id": "type_btn",
          "label": "Choose type button",
          "options": [
            {
              "value": "btn-1",
              "label": "Button one"
            },
            {
              "value": "btn-2",
              "label": "Button two"
            }
          ],
          "default": "btn-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "content"
        },
        {
          "type": "content"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
