{% assign img_src = section.settings.hero_password | image_url: width: 1440 %}

{% render 'render-image',
  class: 'password__image',
  img_src: img_src,
  img: section.settings.hero_password,
  size: '320 600 720 1440',
  alt: section.settings.hero_password.alt,
  width: '1440',
  height: '700'
%}

<div class="password__content wrapper-m">
  <div class="password__content--info">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.info_text }}</p>
  </div>

  <div class="password__content--form">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.info_text }}</p>

    {%- form 'storefront_password' -%}
      <div
        class="form__textfield-notlabel{% if form.errors %} error{% endif %}"
      >
        <!-- eslint-disable max-len -->
        <input
          type="password"
          name="password"
          id="Password"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        >
        <!-- eslint-enable max-len -->
        <label
          for="{{ 'general.password_page.login_form_password_label' | t }}"
        >
          {{ 'general.password_page.login_form_password_placeholder' | t }}
        </label>
      </div>

      {%- if form.errors -%}
        <span
          class="form__message form__message--error"
          tabindex="-1"
          autofocus
        >
          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </span>
        {{ form.errors | default_errors }}
      {%- endif -%}

      <button
        name="commit"
        type="submit"
        class="password__content--form__button btn-1"
      >
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {%- endform -%}

    <div class="password__content--form-media">
      <span>{{ section.settings.text_follow }}</span>
      {% render 'media-icons', order_media: section.settings.order_follow %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main password",
  "class": "password",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_password",
      "label": "Hero image - 1440x720px"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Comming soon !"
    },
    {
      "type": "text",
      "id": "info_text",
      "label": "Sub-heading",
      "default": "Votre nouveau site web Vintega est en ligne."
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "text",
      "id": "text_follow",
      "label": "Text follow",
      "default": "or"
    },
    {
      "type": "text",
      "id": "order_follow",
      "label": "Order follow social media",
      "default": "facebook instagram tiktok",
      "info": "Add url's social media on general settings"
    }
  ]
}
{% endschema %}
