<span class="h2 createurs__title">
  {{ section.settings.title }}
</span>

{% capture createurs_content %}
  {% for collection in collections %}
    {% if collection.title contains 'CREATEURS' %}
      {% assign title = collection.title | split: '|' | last | strip %}
      {% assign current_letter = title | slice: 0 %}

      {% liquid
        if forloop.index > 1 and current_letter != letter
          assign is_letter = true
        else
          assign is_letter = false
        endif

        assign letter = current_letter
      %}

      {% if is_letter %}
        {% if forloop.first %}
          <li class="createurs__block">
        {% else %}
          {% unless forloop.last %}
            </li>
            <li class="createurs__block">
          {% endunless %}
        {% endif %}
        <span class="h3 createurs__letter">{{ letter | append: '/' }}</span>
      {% endif %}

      <span class="createurs__link-container">
        <a
          class="createurs__link"
          href="{{ collection.url }}">
          {{ title }}
        </a>
      </span>
      <br/>

      {% if forloop.last %}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<ul class="createurs__content">
  {{ createurs_content }}
</ul>

{% schema %}
{
  "name": "Marques",
  "class": "createurs wrapper-s",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "Title for marques section",
      "default": "toutes les marques"
    },
    {
      "type": "text",
      "id": "empty_section",
      "label": "Empty section",
      "info": "Text for empty section",
      "default": "Il n'y a pas de vendeurs à montrer"
    }
  ],
  "presets": [
    {
      "name": "Marques"
    }
  ]
}
{% endschema %}
