<div class="blogs-wrapper">
  <div class="blogs-wrapper--header">
    <div class="blogs-wrapper--search">
      <div class="blog__header">
        <div class="blogs-wrapper--title">
          <h1>{{ section.settings.header }}</h1>
        </div>

        {% render 'search'
          is_blog: true
        %}
      </div>

      <div class="search-count blogs-wrapper--count">
        {% if search.results_count > 0 %}
        {% assign terms = search.terms %}
        {% assign count = search.results_count %}
        {% if search.results_count > 1 %}
          <p>
            {{ 'templates.search.results_with_count_and_term.one'
              | t: count: count, terms: terms
            }}
          </p>
        {% else %}
          <p>
            {{ 'templates.search.results_with_count_and_term.other'
              | t: count: count, terms: terms
            }}
          </p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="blogs-wrapper--articles">
    {% if search.results_count >= 1 %}
    {% paginate search.results by section.settings.pagination %}
      <div id="list-products">
        <div
          class="search--result grid collection_product margin-wrapper"
        >
          {% for article in search.results %}
            {% if article.object_type == 'article' %}
              {% render 'blog-card'
                article: article
              %}
            {% endif %}
          {% endfor %}
        </div>

        {% render 'pagination'
          paginate: paginate,
          anchor: '#list-products'
        %}
      </div>
    {% endpaginate %}

    {% else %}
      <span class="blogs-wrapper--none">
        {{ "templates.search.no_results"
          | t: terms: search.terms
          | replace: "«", "<strong>“"
          | replace: "»", "”</strong>"
        }}
      </span>

      <a class="black-button blogs-wrapper--return" href="/blogs/news">
        {{ 'blogs.article.back_to_blog' | t }}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Search blogs collection",
    "tag": "section",
    "class": "wrapper margin-wrapper",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Our blog"
      },
      {
        "type": "text",
        "id": "tag_title",
        "label": "Tag title",
        "default": "Search by categories"
      },
      {
        "type": "range",
        "id": "pagination",
        "label": "Blogs by page",
        "unit": "Pr",
        "min": 3,
        "max": 24,
        "step": 3,
        "default": 12
      }
    ]
  }
{% endschema %}
